| {% extends "conference_main/base.pug" %}
| {% load static %}

| {% block content_main %}
| {% if request.user.is_superuser %}
.d-flex.justify-content-end.p-3
  a.btn.btn-admin(href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}")
    i.i-edit
    span Edit
| {% endif %}

.flatpage
  | {{ flatpage.content }}

| {% endblock content_main %}
