| {% extends "conference_main/base_simple.pug" %}
| {% load pipeline %}

| {% block page_title %}{% firstof edition.twitter_tag|default:""|upper edition.title %} Festival Finals{% endblock %}

| {% block content_main %}
h2.pb-3.text-center {% firstof edition.twitter_tag|default:""|upper edition.title %} Festival Finals

| {% if has_voted %}
//- TODO: consider moving alert bar to the top
p.mx-3.py-2.alert.alert-success.alert-top.m-3.p-3.text-center 🎉 Your vote has been recorded!
| {% elif not edition.is_archived and edition.festival_final_voting_open and per_category %}
p.mx-3.py-2.d-none.fixed-top.alert.alert-danger.alert-top(id="totalPointsWarn")

form(id="formVoteFinals", method="POST", autocomplete="off")
  | {% csrf_token %}
  div.form-group
    | {% for category, object_list in per_category.items %}
    fieldset(id="{{ category }}").mb-2
      div.row
        div.col
          div.mb-4
            .float-left
              span.text-muted.d-block Category
              h3 Best {{ category }}
            span.badge.badge-secondary.float-right Category points left:
              span.pl-1(class="pointsLeft")

        .clear

      | {% for o in object_list %}
      div.row.my-4
        | {% if o.thumbnail %}
        .col-5.col-md-3
          div.festival-entry-thumbnail(style="background-image: url('{{ o.thumbnail.url }}');")
        | {% endif %}

        .col-7.col-md-9.d-flex.flex-column.justify-content-center
          h4.fw-normal {{ o.title }}

          .align-items-center.d-flex.justify-content-start
            .btn-row
              .btn(
                class="js-points-change",r
                data-inputid="entry-id-{{ o.id }}",
              ) -
              .badge.badge-info.px-4(
                class="js-points-{{ o.category }}",
                id="total-points-entry-id-{{o.id }}") 0
              .btn(
                class="js-points-change"
                data-inputid="entry-id-{{ o.id }}",
                data-direction="up",
              ) +

            input.my-2.form-control.d-none(
                id="entry-id-{{ o.id }}"
                data-category="{{ o.get_category_display }}",
                type="number",
                max="5",
                min="0",
                size="5",
                name="points_for_entry_id_{{ o.pk }}",
                step=1,
                value=0
          )
      | {% endfor %}
      hr
    | {% endfor %}
  div.row
    div.col.rounded-bottom
      h5.pt-3.pb-2.px-3.text-right Total voting points left:
        span.pl-2(id="totalPointsDisplay")
      div.mx-3
        input.btn.btn-success.btn-block.mb-3(type="submit", value="Vote", name="vote")
| {% else %}
p.alert.alert-info.my-3.p-3.text-center Festival nominees will be shown here once voting is open.
| {% endif %}

| {% endblock content_main %}

| {% block javascript-extra %}
| {% javascript 'festival-finals' %}
| {% endblock javascript-extra %}
