| {% extends "conference_main/base_with_sidebar.pug" %}
| {% load crispy_forms_tags %}

| {% block content_main %}
div.mb-4
	h2.d-inline
		| Suzanne Awards Festival entry

	a.btn.float-right.d-inline(
		href="{% url 'festival_entry_detail' edition_path=object.edition.path pk=object.pk %}")
		i.i-eye
		span View Entry

form(
	action="{% url 'festival_entry_update' edition_path=object.edition.path pk=object.pk %}",
	method="post",
	enctype="multipart/form-data"
	)

	.form-group
		| {% csrf_token %}
		| {% crispy form %}
		.d-flex
			button.btn.btn-primary.px-5.ml-auto(
				type='submit') Save Changes
| {% endblock content_main %}
