| {% extends "conference_main/2020la/la_base.pug" %}
| {% load pipeline %}
| {% load static %}

//- | {% block page_title %}{{ flatpage.title }}{% endblock page_title %}



| {% block content %}

.container.my-5
	.row
		.col
			| {% if request.user.is_superuser %}
			.d-flex.pb-3.justify-content-end
				a.btn.btn-sm(href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}")
					| Edit text
			| {% endif %}
			| {{ flatpage.content }}



.container.mb-5
	.row.p-3
		.col.gradient-overlay(style="background-image: url({% static 'images/bcon20la/presentation.jpg' %}); background-size:cover; postion:relative;")
			.row
				.col-md-6.p-lg-5.p-3
					.card.card-yellow
						.card-body.text-center
							img(src="{% static 'images/bcon20la/icons/speaker-icon.png'%}")
							h2 Inspiring talks from Blender contributors and professionals
							p This is the first official Blender Conference in the Americas! This event will bring together technical and creative people from the 3D industry, contributors to Blender's open source projects, and everyone who is interested in using Blender in general.

							//- a(href="#") Discover Speakers
			p.d-none.d-md-block.mb-0.text-white.text-right(style="position:absolute; bottom: 10px; right: 10px;") BCON19 Amsterdam

.container.mb-5
	.row.p-3
		.col.gradient-overlay.gradient-right-left(style="background-image: url({% static 'images/bcon20la/la-sunset.jpg' %}); background-size:cover;")
			.row
				.col-md-6.offset-md-6.p-lg-5.p-3
					.card.card-pink
						.card-body.text-center
							img(src="{% static 'images/bcon20la/icons/where-icon.png'%}")
							h2 Join us in Hollywood, Los Angeles
							p Blender Foundation has booked the Fonda Theater on Hollywood Blv  (Los Angeles) for 2 whole days!
							p We've done a little research for you on places to stay and getting to the venue.
							a(href="location") Learn more

.container.mb-5
	.row.text-center.text-white
		.col-md-4
			img(src="{% static 'images/bcon20la/icons/networking-icon.png'%}")
			h3 Network
			p Join the first Blender Conference in the USA to meet and connect with Blender artists, developers and other members of the #[a(href="https://www.blender.org/") blender.org] open source ecosystem.
		.col-md-4
			img(src="{% static 'images/bcon20la/icons/learn-icon.png'%}")
			h3 Learn
			p Attend talks on Blender related subjects, case studies of using Blender for film or games, and talks from Blender contributors.
		.col-md-4
			img(src="{% static 'images/bcon20la/icons/presentation-icon.png'%}")
			h3 Share
			p Apply for presenting your own work! We welcome speakers from any background to show work done with or for Blender.

.container.mb-5
	.row
		.col.text-white.text-center

					h2 Sponsors
					p BCON20 Los Angeles is made possible by our generous sponsors.
					| {% if edition and edition.flatpage_call_for_sponsors_published %}
					p You can also #[a(href="{% url 'call_for_sponsorship' edition_path=edition.path %}") become a sponsor].
					| {% endif %}
					h4.mb-3 Main Sponsors
					.row.mb-5.justify-content-md-center
						.col-md-auto.d-flex.align-items-center.justify-content-center
							a(href="https://www.epicgames.com/" target="_blank")
								img.img-fluid(width="150" src="{% static 'images/bcon20la/sponsors/Epic_Games_logo.svg'%}")
					.row
						.col-md-4.mb-4
							h4.mb-3 Platinum Sponsors

							a(href="https://www.tangent-labs.com/" target="_blank")
								img.img-fluid(width="200" src="{% static 'images/bcon20la/sponsors/tangent-labs.png'%}")

							a(href="https://blendermarket.com/" target="_blank")
								img.img-fluid(width="275" src="{% static 'images/bcon20la/sponsors/blender-market.png'%}")
						.col-md-4.mb-4
							h4.mb-3 Gold Sponsors

							a(href="https://cgcookie.com/" target="_blank")
								img.img-fluid(width="200" src="{% static 'images/bcon20la/sponsors/cg-cookie.png'%}")
						.col-md-4.mb-4
							h4.mb-3 Silver Sponsors

							a(href="https://www.aswf.io/" target="_blank")
								img.img-fluid(width="200" src="{% static 'images/bcon20la/sponsors/aswf.png'%}")


| {% endblock content %}
