| {% if user.is_authenticated %}
li.dropdown
  button.dropdown-toggle(
    class="js-dropdown-toggle",
    data-toggle-menu-id='nav-account-dropdown')
    span
      i.i-user
    i.i-chevron-down

  ul.dropdown-menu.dropdown-menu-right(
    aria-labelledby="nav-account-dropdown",
    class="js-dropdown-menu",
    id="nav-account-dropdown")
    | {% if user.is_staff %}
    | {% if edition %}
    li
      a.dropdown-item.is-admin(href="{% url 'admin:conference_main_edition_change' edition.pk %}")
        i.i-bcon
        | Edition
    li
      a.dropdown-item.is-admin(href="{% url 'tickets:stats' edition.path %}")
        i.i-bar-chart
        | Tickets Stats
    | {% else %}
    li
      a.dropdown-item.is-admin(href="{% url 'admin:index' %}")
        i.i-coffee
        | Whoosh!
    | {% endif %}
    li
      a.dropdown-item.is-admin(href="{% url 'admin:tickets_ticket_changelist' %}")
        i.i-ticket
        |	Tickets

    li
      a.dropdown-item.is-admin(href="{% url 'admin:conference_main_event_changelist' %}{% if edition %}?edition__id__exact={{ edition.id }}{% endif %}")
        i.i-layers
        |	Presentations
    | {% if edition and not edition.is_archived and edition.festival_voting_open %}
    li
      a.dropdown-item.is-admin(href="{% url 'admin:conference_main_festivalentry_changelist' %}")
        i.i-tv
        |	Festival Entries
    | {% endif %}

    | {% with album=edition.get_open_album %}
    | {% if album %}
    li
      a.dropdown-item.is-admin(href="{% url 'admin:conference_main_photo_changelist' %}{% if edition %}?edition__id__exact={{ edition.id }}{% endif %}")
        i.i-camera
        |	Photos
    | {% endif %}
    | {% endwith %}

    li.dropdown-divider
    | {% endif %}

    | {% if edition and not edition.is_archived and edition.presentation_submissions_open %}
    li
      a.dropdown-item(href="{% url 'presentation_submit' edition_path=edition.path %}")
        i.i-upload
        | Submit Presentation
    | {% endif %}

    | {% if edition and not edition.is_archived and edition.festival_submissions_open %}
    li
      a.dropdown-item(href="{% url 'festival_entry_submit' edition_path=edition.path %}")
        i.i-upload
        | Submit Festival Entry
    | {% endif %}

    li.dropdown-divider

    li
      a.dropdown-item(href="{% url 'profile_update' %}")
        i.i-user
        | Profile
    li
      a.dropdown-item(href="{% url 'account_favorites_list' %}")
        i.i-heart
        | Favorites
    li
      a.dropdown-item(href="{% url 'account_presentations_list' %}")
        i.i-layers
        | My Presentations
    li
      a.dropdown-item(href="{% url 'account_festival_entries_list' %}")
        i.i-tv
        | My Festival Entries
    li
      a.dropdown-item(href="{% url 'tickets:list' %}")
        i.i-ticket
        | Tickets
    li.dropdown-divider
    li
      a.dropdown-item(href="{% if is_impersonated_session %}{% url 'loginas-logout' %}{% else %}{% url 'oauth:logout' %}{% endif %}")
        i.i-log-out
        | Log out
| {% else %}
li
  a(href="{% url 'oauth:login' %}")
    | Sign in
| {% endif %}
