| {% load pipeline %}

| {% if edition %}

| {% with album=edition.get_open_album %}
| {% if edition.albums.count %}
li.nav-item
  a.nav-link(
    href="{% url 'albums' edition_path=edition.path %}",
    class="{% if 'photos' in request.path %}is-active{% endif %}") Photos
| {% elif album %}
li.nav-item
  a.nav-link(href="{{ album.get_absolute_url }}")
    i.i-upload.me-1
    | Upload Photos
| {% endif %}
| {% endwith %}

| {% if edition.flatpage_location_published %}
li.nav-item
  a.nav-link(
    href="{% url 'location' edition_path=edition.path %}",
    class="{% if 'location' in request.path %}is-active{% endif %}")
    | Location
| {% endif %}

| {% if edition.flatpage_call_for_sponsors_published %}
li.nav-item
  a.nav-link(
    href="{% url 'call_for_sponsorship' edition_path=edition.path %}",
    class="{% if 'sponsorship' in request.path %}is-active{% endif %}")
    | Call for Sponsorship
| {% endif %}

| {% if edition.flatpage_call_for_participation_published %}
li.nav-item
  a.nav-link(
    href="{% url 'call_for_participation' edition_path=edition.path %}",
    class="{% if 'participation' in request.path %}is-active{% endif %}")
    | Call for Participation
| {% endif %}

| {% if edition.schedule_status == 'proposed' or edition.schedule_status == 'final' %}
li.nav-item
  a.nav-link(
    href="{% url 'schedule' edition_path=edition.path %}",
    class="{% if 'schedule' in request.path %}is-active{% endif %}")
    | Schedule
| {% endif %}

| {% if edition.speakers_viewable %}
li.nav-item
  a.nav-link(
    href="{% url 'speakers' edition_path=edition.path %}",
    class="{% if 'speakers' in request.path %}is-active{% endif %}")
    | Speakers
| {% endif %}

| {% if edition.attendees_viewable and user_is_attending_edition %}
li.nav-item
  a.nav-link(
    href="{% url 'attendees' edition_path=edition.path %}",
    class="{% if 'attendees' in request.path %}is-active{% endif %}")
    | Attendees
| {% endif %}

| {% if edition.flatpage_festival_published %}
li.nav-item
  a.nav-link(
    href="{% url 'festival' edition_path=edition.path %}",
    class="{% if 'festival' in request.path %}is-active{% endif %}")
    | Suzanne Awards
| {% endif %}

| {% if not edition.is_archived and edition.festival_voting_open %}
li.nav-item
  a.nav-link(
    href="{% url 'festival_entries_vote' edition_path=edition.path %}",
    class="{% if 'festival/entries/' in request.path %}is-active{% endif %}")
    | Vote for Suzanne Awards
| {% endif %}
| {% endif %}
