| {% load pipeline %}
| {% load static %}

.navbar-logo-with-dates
  div
    {% if edition.logo_small %}
    img(src="{{ edition.logo_small.url }}", alt="{{ edition.title }}")
    {% elif edition.logo %}
    img(src="{{ edition.logo.url }}", alt="{{ edition.title }}")
    {% else %}
    img(src="{% static 'images/BCON_logo.svg'%}", alt="{{ edition.title }}")
    {% endif %}

  {% if show_date %}
  .navbar-dates
    {% if edition.date_start %}
    span {{ edition.date_start | date:'F d' }}{% if edition.date_start != edition.date_end %}-{{ edition.date_end | date:'d' }}{% endif %}, {{ edition.date_end | date:'Y' }}
    {% endif %}

    {% if edition.location %}
    span {{ edition.location }}
    {% endif %}
  {% endif %}
