!!! 5
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title {{ album.title }} &mdash; {{ edition.title }}
		meta(name='description', content='Home of the Blender project - Free and Open 3D Creation Software')
		meta(name='keywords', content='')
		meta(name='author', content='Blender Foundation')
		meta(name='theme-color', content='#ed8f31')

		meta(property='og:site_name', content='')
		meta(property='og:title', content='blender.org')
		meta(property='og:description', content='Home of the Blender project - Free and Open 3D Creation Software')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(name='twitter:card', content='')
		meta(name='twitter:site', content='')
		meta(name='twitter:title', content='blender.org')
		meta(name='twitter:description', content='Home of the Blender project - Free and Open 3D Creation Software')
		meta(name='twitter:image', content='')

		| {% load pipeline %}
		| {% load static %}

		| {% stylesheet 'photos' %}
		| {% block stylesheet-extra %}
		| {% endblock stylesheet-extra %}
	body
		| {% block content %}
		| {% endblock content %}

		| {% javascript 'vendor' %}
		| {% javascript 'tutti' %}

		| {% block javascript-extra %}
		| {% endblock javascript-extra %}
