| {% extends "conference_main/base.pug" %}
| {% load pipeline %}
| {% load static %}

| {% block header %}
| {# Keep pages look simple, no header image #}
| {% endblock header %}

| {% block content %}
.container.mt-3
	.row
		.col
			.box.p-3.p-sm-5
				| {% block content_main %}
				| {% endblock content_main %}
| {% endblock content %}
