| {% load static %}
| {% load pipeline %}
!!! 5
html(data-theme="light", lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title {% block page_title %}{{ edition.title }} &mdash; {{ request.META.HTTP_HOST }}{% endblock page_title %}
		meta(name='description', content='{% block meta-description %}{{ edition.title }} - {% if edition.date_end and edition.date_start %}{{ edition.date_start }} - {{ edition.date_end }} - {% endif %} The event of the year celebrating the Free and Open 3D Creation Software{% endblock meta-description %}')
		meta(name='keywords', content='{% block meta-keywords %}blender,3d,animation,open source,free software{% endblock meta-keywords %}')
		meta(name='author', content='{% block meta-author %}Blender Foundation{% endblock meta-author %}')
		meta(name='theme-color', content='{% block meta-theme-color %}#ed8f31{% endblock meta-theme-color %}')

		meta(property='og:site_name', content='{{ edition.title }} &mdash; {{ request.META.HTTP_HOST }}')
		meta(property='og:url', content='https://conference.blender.org/')
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='https://conference.blender.org/')

		| {% block head_opengraph %}
		meta(property='og:title', content='{{ edition.title }} &mdash; {{ request.META.HTTP_HOST }}')
		meta(property='og:description', content='{{ edition.title }} - The event of the year celebrating the Free and Open 3D Creation Software')

		| {% if edition.thumbnail %}
		meta(property='og:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
		meta(name='twitter:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
		| {% else %}
		meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
		meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
		| {% endif %}

		meta(name='twitter:title', content='{{ edition.title }} &mdash; {{ request.META.HTTP_HOST }}')
		meta(name='twitter:description', content='{{ edition.title }} - The event of the year celebrating the Free and Open 3D Creation Software')
		| {% endblock head_opengraph %}

		| {% block head_favicon %}
		link(rel="shortcut icon", href="{% static 'conference_main/images/favicon.png' %}")
		| {% endblock head_favicon %}

		| {% stylesheet 'main' %}

		| {% block head_extra %}{% endblock head_extra %}

		script(
			defer=""
			data-domain="conference.blender.org"
			src="https://analytics.blender.org/js/script.js"
		)

	body(class="{% block body_classes %}{% endblock %}")
		| {% block body %}
		| {% block navbar %}
		| {% include 'conference_main/_navbar.pug' %}
		| {% endblock navbar %}

		| {% if messages %}
		| {% for message in messages %}
		.alert.alert-dismissible.show.text-center.rounded-0(
			role='alert',
			class="{% if message.tags %}alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}")
				| {{ message|safe }}
				button.close(type='button', data-dismiss='alert', aria-label='Close')
					i.i-cancel
		| {% endfor %}
		| {% endif %}

		| {% if request.user.is_staff %}
		.whoosh-container
			a.whoosh(href="{% url 'admin:index' %}" title='Admin')
				i.i-settings
			| {% if edition %}
			a.whoosh(href="{% url 'admin:conference_main_edition_change' edition.pk %}")
				i.i-bcon
			| {% endif %}
			| {% block admin_button_page %}{% endblock %}
		| {% endif %}

		| {% block header %}{% endblock header %}

		| {% block content %}
		main.container-main(role='main')
		| {% endblock content %}

		| {% block site_footer %}{% endblock site_footer %}
		| {% endblock body %}

		| {% block extra_body %}{% endblock extra_body %}

		| {% block footer %}
		| {% include 'conference_main/_footer.pug' %}
		| {% endblock footer %}

		| {% javascript 'vendor' %}
		| {% javascript 'web-assets' %}
		| {% javascript 'tutti' %}

		| {% block javascript-extra %}{% endblock javascript-extra %}
