| {% extends "conference_main/base_with_sidebar.pug" %}

| {% block content_main %}
h2 My Presentations

| {% if object_list %}
table.table-no-box
	tbody
		| {% for o in object_list %}
		tr
			td(style="width: 4ch;")
				span.text-muted.text-nowrap {{ o.edition.year }}
			td
				a.px-0(href="{% url 'presentation_detail' edition_path=o.edition.path pk=o.pk %}")
					| {{ o.name }}
			td.text-right
				span.badge.badge-primary(
					class="status-{{o.status }}"
				)
					| {% if o.status == 'rejected' %}NOT ACCEPTED{% else %}{{o.get_status_display|upper }}{% endif %}
		| {% endfor %}
| {% else %}
p No proposal submitted.
| {% endif %}
| {% endblock content_main %}
