| {% extends "conference_main/base_with_sidebar.pug" %}

| {% block content_main %}
h2 Favorites

| {% if object_list %}
table.table-no-box
	tbody
		| {% for o in events %}
		tr
			td(style="width: 4ch;")
				span.text-muted.text-nowrap {{ o.edition.year }}
			td
				a(href="{% url 'presentation_detail' edition_path=o.edition.path pk=o.pk %}")
					| {{ o.name }}
		| {% endfor %}
| {% else %}
p.mb-0 Presentations you mark as favorite will show up here.
| {% endif %}
| {% endblock content_main %}
