| {% extends "conference_main/base_simple.pug" %}
| {% load crispy_forms_tags %}
| {% load filters %}
| {% load thumbnail %}
| {% load micawber_tags %}
| {% load static %}
| {% load conference_main %}
| {% load tickets %}

| {% block page_title %}{{ object.name }} — {{ object.edition.title }}{% endblock page_title %}

| {% block head_opengraph %}
meta(property='og:title', content='{{ object.name }} — {{ object.edition.title }}')
meta(name='twitter:title', content='{{ object.name }} — {{ object.edition.title }}')
| {% if object.description %}
meta(property='og:description', content='{{ object.description }}')
meta(name='twitter:description', content='{{ object.description }}')
| {% endif %}
| {% if object.picture %}
| {% thumbnail object.picture "1280x720" crop="center" format="JPEG" as picture %}
meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{{ picture.url }}')
meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{{ picture.url }}')
| {% endthumbnail %}
| {% elif edition.thumbnail %}
meta(property='og:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
meta(name='twitter:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
| {% else %}
meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
| {% endif %}
| {% endblock head_opengraph %}

| {% block header %}{% endblock %}

| {% block content %}
| {% include "conference_main/components/location_style.pug" %}

| {% is_attending_edition user object.edition as is_attending %}
| {% if permissions.can_change %}
.event-detail-header.review
  .row
    .col-md-8.col-lg-8
      | {% include "conference_main/components/review_header_details.pug" %}

    .col-md-4.col-lg-4.d-flex.flex-column.justify-content-center
      .btn-row.justify-content-end
        a.btn(
          href="{% url 'presentation_update' edition_path=object.edition.path pk=object.pk %}")
          i.i-edit
          span Edit
        a.btn(
          href="{% url 'presentation_detail' edition_path=object.edition.path pk=object.pk %}")
          i.i-eye
          span View
        | {% if request.user.is_superuser %}
        a.btn.btn-admin(
          href="{% url 'admin:conference_main_event_change' object.pk %}")
          | Admin
        | {% endif %}
| {% endif %}

.container-fluid.event-detail
  .row
    .col-lg-6
      h5.text-uppercase.text-muted
        | Description
      .box.mb-3.p-3
        | {% if object.recording  %}
        .video-container
          | {{ object.recording | oembed }}
        | {% endif %}

        .row
            | {% if object.picture and not object.recording %}
            .col-md-3
              | {% thumbnail object.picture "480x270" crop="50%" format="JPEG" as picture %}
              a(href="{{ picture.url }}")
                img.rounded.img-fluid(src='{{ picture.url }}', alt="{{ object.name }}")
              | {% endthumbnail %}
            | {% endif %}

            div(class="col-md-{% if object.picture and not object.recording %}9{% else %}12{% endif %}")
              h3.mb-3 {{ object.name }}

              | {% if object.description %}
              div {{ object.description | urlizetrunc:40 | linebreaks }}
              | {% endif %}

              .event-tags
                | {% if event.tags.all %}
                | {% for tag in event.tags.all %}
                .badge.badge-secondary.badge-sm(title="{{ tag.name }}")
                  | {{ tag.name }}
                | {% endfor %}
                | {% else %}
                small No tags set yet.
                | {% endif %}

      | {% if object.proposal %}
      .row.mb-4
        .col-md-12
          //- Original Proposal.
          details
            summary Original Proposal - {{ object.created_at | date:'D d M, Y @ H:i' }}
            div {{ object.proposal | urlizetrunc:40 | linebreaks }}
      | {% endif %}

      | {% if speakers %}
      .row.mb-4
        .col-md-12
          //- Speakers.
          h5.pt-3.text-uppercase.text-muted
            | Speaker{{ object.speakers.all.count | pluralize }}

          ul.attendees-list
            | {% for speaker in speakers %}
            li
              | {% if forloop.first %}
              - var details = 'details open'
              | {% else %}
              - var details = 'details';
              | {% endif %}

              #{details}
                summary.d-flex(class="{% if object.speakers.all.count == 1 %}is-single{% endif %}")
                  span {{ speaker.full_name }}

                  | {% if request.user.is_superuser %}
                  span.ml-2 ({{ speaker.other_events|length }} session{{ speaker.other_events|pluralize }})
                  | {% if object.user.id == speaker.id and object.speakers.all.count > 1  %}
                  span.badge.badge-primary.ml-auto Submitter
                  | {% endif %}
                  | {% endif %}

                .ps-0.row
                  .col-md-12
                    | {% include 'conference_main/components/attendee.pug' with profile=speaker size="medium" show_links=True show_admin=True is_landscape=True %}

                  | {% if speaker.bio %}
                  .col-md-12.mt-3
                    .attendee-bio
                      | {{ speaker.bio|truncatechars:400|linebreaks|urlizetrunc:80 }}

                      | {% if speaker.bio|length > 400 %}
                      a.btn.btn-sm(href="{% url 'profile_detail' pk=speaker.pk %}")
                        | Speaker Profile
                      | {% endif %}
                  | {% endif %}

                | {% if request.user.is_superuser %}
                | {% if speaker.other_events %}
                h5.ps-0.pt-4.mb-0.text-muted SESSIONS

                table.mb-2
                  tbody
                    | {% for o in speaker.other_events %}
                    tr
                      td(style="width: 4ch;")
                        span.text-muted {{ o.edition.year }}
                      td
                        a(href="{% url 'presentation_detail' edition_path=o.edition.path pk=o.pk %}")
                          | {{ o.name }}
                      td.text-right
                        a.badge.badge-secondary(
                          href="{% url 'presentation_detail' edition_path=o.edition.path pk=o.pk %}",
                          class="status-{{o.status }} py-1"
                        )
                          | {% if o.status == 'rejected' %}NOT ACCEPTED{% else %}{{o.status | upper }}{% endif %}
                    | {% endfor %}
                | {% endif %}
              | {% endif %}
            | {% endfor %}
      | {% endif %}


    .col-lg-6
      //- Messages exchange.
      | {% include 'conference_main/components/message_exchange.pug' with message_exchange=message_exchange %}

| {% endblock content %}

| {% block footer %}{% endblock footer %}
