| {% for day, locations in events_per_day_per_location_with_range.events.items %}
h1 {{ day }}
table
  tr
    | {% for location, events in locations.items %}
    th
      h3 {{ location | upper }}
    | {% endfor %}
  tr
    | {% for location, events in locations.items %}
    td
      table
        | {% for event in events %}
        tr
          td {{ event.time | date:'H:i'}}
          td {{ event.name }}
          td {{ event.duration_minutes }}
        | {% endfor %}
      | {% endfor %}

| {% endfor %}
