| {% extends "conference_main/base_simple.pug" %}
| {% load thumbnail %}
| {% load static %}
| {% load tickets %}

| {% block page_title %}Schedule - {{ edition.title }}{% endblock %}
| {% block h1 %}Schedule - {{ edition.title }}{% endblock %}

| {% block jumbotron %}{% endblock %}

| {% block content %}
| {% is_attending_edition user edition as is_attending %}
| {% include "conference_main/components/schedule_header_notice.pug" %}
| {% include "conference_main/components/location_style.pug" %}

.schedule-container.horizontal(class="{% if not user.is_staff %}status-{{ edition.schedule_status }}{% endif %}")
  .schedule-filters-container
    .btn-row
      a.btn(href="{% url 'schedule' edition_path=edition.path %}?display=vertical")
        i.i-grid

      .btn-group.btn-flex
        | {% for day in days %}
        button.btn-toggle.btn-flex.js-toggle-day(
          data-day-number="{{ day.number }}",
        )
          | {{ day.date | date:'l' }} {{ day.date | date:'jS' }}
        | {% endfor %}

  div
    | {% for day, locations in events_per_day_per_location_with_range.events.items %}
    .schedule-horizontal-day.js-schedule-day(
      data-day-number="{{ day.number }}")
      .scroll-horizontal
        div(style="width: {{ events_per_day_per_location_with_range.width_px }}")
          .time-slots
            //- Each slot is 1h. 60 (minutes) by minute_to_pixel_multiplier, in pixels.
            | {% for t in events_per_day_per_location_with_range.time_slots %}
            .slot(
              style="width: calc(60px * {{events_per_day_per_location_with_range.minute_to_pixel_multiplier}})")
              span.js-time-slot(
                data-day-hour="{{ day.date | date:'d/m/y' }}, {{ t }}:00",
              )
                strong {{ t }}:00
              span.half-hour.js-time-slot(
                data-day-hour="{{ day.date | date:'d/m/y' }}, {{ t }}:30",
              )
                strong {{ t }}:30
            | {% endfor %}

          | {% for location, events in locations.items %}
          .location-channel(
            style="border-color: hsla(var(--location-hue-{{ location }}), 60%, 70%, 50%)")
            .location-label
              span.label
                strong(
                  style="background-color: hsl(var(--location-hue-{{ location }}), 46%, 60%);")
                  | {{ location | upper }}
              span.background.h-100(
                style="background-color: hsla(var(--location-hue-{{ location }}), 80%, 80%, 20%)")

            //- Each event card.
            | {% for event in events %}
            a.event.js-time-slot(
              style="
                left: calc(calc({{ event.start_time_in_minutes}} - {{ events_per_day_per_location_with_range.range_minutes.start }}) * 10px);
                width: calc({{ event.duration_minutes}}px * {{ events_per_day_per_location_with_range.minute_to_pixel_multiplier }})"
              id="#event-{{ event.id }}",
              href="{% url 'presentation_detail' edition_path=event.edition.path pk=event.pk %}",
              class="
                event-location-{{ event.location.slug }}
                event-category-{{ event.category }}
                {% if request.user.is_staff %}event-status-{{ event.status }}{% endif %}
                {% if event.is_overlapping %}is-overlapping{% endif %}
                {% if event.is_same_start_time %}is-same-start-time{% endif %}",
              data-day-hour="{{ day.date | date:'d/m/y' }}, {{ event.time | time:'H:i' }}",
              data-schedule-location="{{ event.location.slug }}",
              data-schedule-category="{{ event.category }}")

              .event-details
                .event-details-info
                  .event-header
                    ul.event-description
                      | {% if event.category %}
                      li.event-category
                        | {{ event.get_category_display | upper }}
                      | {% endif %}

                      | {% if event.time %}
                      li.event-time
                        | {{ event.time | date:'H:i'}}
                      | {% endif %}

                      | {% if event.duration_minutes %}
                      li.event-duration(title="{{ event.duration_minutes }} minutes long")
                        | {{ event.duration_minutes }} m
                      | {% endif %}

                      li.remarks

                      li.divider

                      | {% include "conference_main/components/event_buttons.pug" with without_login_button=True is_schedule=True %}

                  .event-name
                    | {{ event.name }}

                  .event-speakers
                    | {% for speaker in event.speakers.all %}
                    small {{ speaker.full_name }}{% if not forloop.last %}, {% endif %}
                    | {% endfor %}
            | {% endfor %}
          | {% endfor %}
    | {% endfor %}
| {% endblock content %}

| {% block javascript-page %}
script.
  // Loop through each day, listen for scroll, and save the position,
  // so on page reload we can go back to where we were
  const scheduleDays = document.querySelectorAll('.js-schedule-day');

  scheduleDays.forEach((day, index) => {
    const scrollableDiv = day.firstElementChild;
    const getDayNumber = day.getAttribute('data-day-number');
    const storageKey = `horizontalScrollPosition_${getDayNumber}`; // Unique key for each day

    // Update it on scroll and save it onto localStorage
    scrollableDiv.addEventListener("scroll", function () {
      localStorage.setItem(storageKey, scrollableDiv.scrollLeft);
    });
  });

  // Disable browser scroll, so we can scroll to events currently going on.
  history.scrollRestoration = "manual";

  window.addEventListener("DOMContentLoaded", function() {
    scheduleFilterLoadFromCookie();
    scheduleDayLoadFromCookie();
    scheduleDayToggleButtons();
    scheduleHighlightCurrent("horizontal");
  });

  // Stick .days-header container to the top of the page when scrolling.
  // So it's easy to see which day is each column. Only for big screens.
  // TODO: Real check for desktop size.
  if (window.innerWidth > 1023) {
    let $scheduleFilters = $('.schedule-filters-container');
    let $daysHeader = $('.days-header');

    let scheduleFiltersHeight = $scheduleFilters.outerHeight();
    let daysHeaderHeight = $daysHeader.height();
    let allHeadersHeight = scheduleFiltersHeight + daysHeaderHeight;

    let scheduleFiltersOffset = $scheduleFilters.offset();
    let $scheduleContainer = $('.schedule-container');

    const timeCells = document.querySelectorAll('.js-time-cell');
    let $timePlaceholder = $('.js-time-fill');

    // Recalculate height on load and resize, with many filters
    // they often wrap into multiple rows if the window is small.
    $(window).on("load resize",function(e){
      scheduleFiltersHeight = $scheduleFilters.outerHeight();
      daysHeaderHeight = $daysHeader.height();
      scheduleFiltersOffset = $scheduleFilters.offset();
    });

    $(window).scroll(function() {
      var scrolled = $(this).scrollTop();

      if (scrolled > scheduleFiltersOffset.top) {
        // Make filters fixed, and add margin to the container
        // to compensate the space previously used by the filters container.
        $scheduleFilters.addClass('is-fixed');
        $scheduleContainer.css("margin-top", allHeadersHeight);

        // Make days header fixed, and position under the schedule filters.
        $daysHeader.addClass('is-fixed');
        $daysHeader.css("top", scheduleFiltersHeight);
      } else {
        $scheduleFilters.removeClass('is-fixed');
        $scheduleContainer.css("margin-top", "0");

        $daysHeader.removeClass('is-fixed');
        $daysHeader.css("top", "unset");
      }

      // Add/replace time placeholder in .days-header so we always know
      // what time is currently being covered by the filters/header.
      timeCells.forEach(function(el) {
        let offset = el.offsetTop - allHeadersHeight;
        let time = el.firstChild;

        if (scrolled > offset) {
          $timePlaceholder.text(time.innerHTML);
          $(el).addClass('is-in-scroll');
        } else {
          $(el).removeClass('is-in-scroll');
        }
      });
    });
  }
| {% endblock javascript-page %}

| {% block footer %}{% endblock footer %}
