| {% extends "conference_main/base_simple.pug" %}
| {% load static %}
| {% load thumbnail %}

| {% block page_title %}Speakers - {{ edition.title }}{% endblock %}

| {% block h1 %}Speakers - {{ edition.title }}{% endblock %}

| {% block header %}

| {% block jumbotron %}
| {% with speakers_count=speakers|length|stringformat:"s" %}
| {% with title="Speakers" subtitle=speakers_count|add:" artists, developers, teachers, and scientists.<br> Blender Conference "|add:edition.path|add:" brings everyone together." %}
| {% include "conference_main/components/hero.pug" with title=title subtitle=subtitle|safe show_gradient=True show_overlay=True %}
| {% endwith %}
| {% endwith %}
| {% endblock jumbotron %}
| {% endblock header %}

| {% block content %}
.container
	.box
		| {% if speakers %}
		.row
			.col
				.attendees.py-4
					| {% for speaker in speakers %}
					| {% if user.is_superuser or speaker.full_name and speaker.portrait %}
					| {% include 'conference_main/components/attendee.pug' with profile=speaker size='large' %}
					| {% endif %}
					| {% endfor %}
				| {% else %}
				.text-center.text-muted.p-5
					p.my-5 No speakers confirmed yet.
				| {% endif %}
| {% endblock content %}
