| {% extends "conference_main/base_simple.pug" %}
| {% load crispy_forms_tags %}

| {% block h1 %}Submit Proposal - {{ edition.title }}{% endblock %}

| {% block content_main %}
.mb-4
	h2 Submit your presentation proposal
	p Make sure you read the #[a(href="{% url 'call_for_participation' edition_path=edition.path %}") Call for Participation] before submitting your idea.

.row
	.col-md-8

		form(action="{% url 'presentation_submit' edition_path=edition.path %}", method="post")
			.form-group
				| {% csrf_token %}
				| {{ form | crispy }}

			.d-flex
				button.btn.btn-primary.ml-auto(
					type='submit',
					class="js-post-create-btn") Submit Presentation

	.col-md-4
		.border-left.pl-4
			h3 Important dates
			dl.form-submit-dl
				dt #[strong Submission Deadline]
				dd 19 August {{ edition.year }}

				dt #[strong Notification of acceptance]
				dd 1 September {{ edition.year }}

				dt #[strong Final materials due]
				dd 10 October {{ edition.year }}

				dt #[strong Conference]
				dd {{ edition.date_start | date:'F d' }}{% if edition.date_start != edition.date_end %}-{{ edition.date_end | date:'d' }}{% endif %}, {{ edition.date_end | date:'Y' }}

			hr

			h3 Tips for your submission
			p.
				This year's edition of Blender Conference will have as a main theme “Making Blender”.
				We welcome presentations and case studies with a wide range of interpretations of the theme -
				everything that's interesting for contributors to Blender. Think of “Making Blender better”,
				or “Making Blender possible”, or “Making Blender work in a pipeline”.
			p Each submission should convey:
			ul
				li The key idea or innovation.
				li Technical substance and detail.
				li Associated production experience.
				li Insights and lessons learned.
			p Please make sure you avoid titles containing the word "Blender", or topics such as "This is how Blender changed my life". While these topics are valid, just consider a more nuanced title.

| {% endblock content_main %}
