| {% load conference_main %}

| {% if user.is_authenticated %}

| {% if is_attending %}
li.event-going
	button.going-star(
		onclick="favoriteStarToggle(event)",
		data-field="going"
		data-is-checked=(is_going is True or isinstance(is_going, dict) and is_going[event]),
		data-toggle-url="{% url 'presentation_going' edition_path=event.edition.path pk=event.pk %}",
		title="Interested in this event"
	)
		i.i-user
| {% endif %}

//- Show Favorite button only if specified, or if we are in the schedule and are not attending.
| {% if show_favorite or is_schedule and not is_attending %}
li.event-favorite
	button.favorite-star(
		onclick="favoriteStarToggle(event)",
		data-is-checked=(is_favorite is True or isinstance(is_favorite, dict) and is_favorite[event]),
		data-toggle-url="{% url 'presentation_favorite' edition_path=event.edition.path pk=event.pk %}",
		title="Favorite this event"
	)
		i.i-heart
| {% endif %}

| {% elif not without_login_button %}
li.ml-auto
	a(href="{{ request.get_full_path | login_url_with_redirect }}") Login to Favorite
| {% endif %}
