| {% load static %}

.hero.is-container-overlap(class="{% if is_large %}hero-lg{% endif %}")
  .container
    .hero-content.text-center
      | {% if show_logo %}
      | {% if edition.logo %}
      img.d-block.mx-auto.img-fluid(src="{{ edition.logo.url }}", alt="{{ edition.title }}")
      | {% else %}
      img.d-block.mx-auto.img-fluid(src="{% static 'images/BCON_logo.svg' %}", alt="{{ edition.title }}")
      | {% endif %}
      | {% endif %}

      | {% if title %}
      h1.mx-auto {{ title }}
      | {% endif %}

      | {% if subtitle %}
      .hero-subtitle.mx-auto {{ subtitle }}
      | {% endif %}

      | {% if show_date and edition.date_start %}
      h2.mb-0.mx-auto {{ edition.date_start | date:'d' }}-{{ edition.date_end | date:'d M, Y' }}
      | {% endif %}

      | {% if show_location and edition.location %}
      .hero-subtitle.mt-1.mx-auto {{ edition.location }}
      | {% endif %}

  | {% if edition.header %}
  .hero-bg(style="background-image: url({{ edition.header.url }}); background-position-y: 50%")

  | {% if show_overlay %}
  .hero-overlay
  | {% endif %}

  | {% if show_gradient %}
  .hero-gradient
  | {% endif %}

  | {% endif %}
