| {% load crispy_forms_tags %}

| {% if permissions.can_view_messages %}
section
  | {% if message_exchange %}
  h5.text-muted.d-flex
    span.mr-auto {{ message_exchange | length }} MESSAGE{{ message_exchange | length | pluralize | upper }}

    a#messages-toggle-all.ml-auto(
      href="",
      style="display: none",
      data-action="show") See All

  #messages-list
    | {% for message in message_exchange %}
    .message(class="{% if message.is_expanded %}is-expanded{% endif %}")
      | {% if message.is_expanded %}
      - var details = 'details open'
      | {% else %}
      - var details = 'details';
      | {% endif %}

      #{details}
        summary.d-flex(
          class="{% if not message.is_expanded %}is-collapsed{% endif %}",
          data-target="#message-{{ message.message.id }}",
          id="message-{{ message.message.id }}")

          span.me-2.text-muted {{ forloop.counter }}.
          span {{ message.message.user.profile }}
          span.message-preview-content {{ message.message.content|truncatechars:80 }}

          span.ml-auto

          | {% if message.message.user.is_staff %}
          span.badge.badge-admin.me-2(title="BCON staff")
            i.i-bcon
            span Staff
          | {% endif %}

          | {% if message.message.user.id == object.user.id %}
          span.badge.badge-info.me-2(title="Proposal Author")
            i.i-mic
            span Proposal Author
          | {% endif %}

          | {% if request.user.is_superuser %}
          a.px-3(href="{% url 'admin:conference_main_message_change' message.pk %}")
            small
              span.me-1 Edit
              i.i-edit
          | {% endif %}

          a.date(
            href="#message-{{ message.message.id }}",
            title="{{ message.message.created_at | date:'D d M, Y @ H:i' }}")
            | {{ message.message.created_at | date:'j M' }}

        .py-2.px-3.pb-1(id="message-{{ message.message.id }}")
          | {{ message.message.content | urlizetrunc:80 | linebreaks }}
    | {% endfor %}
    | {% endif %}

    | {% if permissions.can_add_message %}
    form.box.mt-3(action="{{ object.message_form_url }}", method="POST")
      | {% csrf_token %}
      | {{ message_form | crispy }}

      .d-flex
        button.btn.btn-primary.px-5.ml-auto(type="submit")
          i.i-send
          span Send Message
    | {% endif %}
| {% endif %}

| {% if message_exchange|length > 4 %}
script.
  function hideMessagesUntilExpanded() {
    const messagesList = document.getElementById("messages-list");
    const messageElements = messagesList.querySelectorAll(".message");
    const toggleAllMessagesButton = document.getElementById('messages-toggle-all');

    let is_messages_hidden = false;
    let is_expanded = false;

    // Add a class to hide all message elements until one is expanded.
    messageElements.forEach(element => {
      if (is_expanded) {
        return;
      }

      if (element.classList.contains('is-expanded')) {
        is_expanded = true;
        return;
      } else {
        element.classList.add("is-hidden");
        is_messages_hidden = true;
      }
    });

    if (is_messages_hidden) {
      toggleAllMessagesButton.style.display = 'block';
    } else {
      toggleAllMessagesButton.style.display = 'none';
    }

    toggleAllMessagesButton.dataset.action = 'show';
    toggleAllMessagesButton.innerHTML = 'See All';
  }

  function toggleAllMessages(element) {
    const messagesList = document.getElementById("messages-list");
    const messageElements = messagesList.querySelectorAll(".message");
    let toggleAllMessagesButton = document.getElementById('messages-toggle-all');
    let toggleAction = toggleAllMessagesButton.dataset.action;

    if (toggleAction == 'show') {
      messageElements.forEach(element => {
        element.classList.remove("is-hidden");
      });
      toggleAllMessagesButton.dataset.action = 'hide';
      toggleAllMessagesButton.innerHTML = 'Hide Old';
    } else {
      hideMessagesUntilExpanded();
    }
  }

  const toggleAllMessagesButton = document.getElementById('messages-toggle-all');
  toggleAllMessagesButton.addEventListener("click", function(e) {
    e.preventDefault();
    toggleAllMessages(this);
  });

  hideMessagesUntilExpanded();
| {% endif %}
