.d-flex.flex-wrap
  div.mb-4.me-4
    small.text-muted.d-block Status
    span.badge.badge-primary.badge-sm.d-inline-block(class="status-{{ object.status }}")
      | {% if object.status == 'rejected' %}NOT ACCEPTED{% else %}{{ object.get_status_display|upper }}{% endif %}

  | {% if object.status == 'accepted' %}
  div.mb-4.me-4
    small.text-muted.d-block Location
    span(style="color: hsl(var(--location-hue-{{ object.location.slug }}), 80%, var(--event-detail-location-color-l));")
      | {% if object.location.slug %}
      | {{ object.location.slug | title }}
      | {% else %}
      | No Location
      | {% endif %}
  div.mb-4.me-4
    small.text-muted.d-block Category
    span
      | {% if object.category %}
      | {{ object.category | title }}
      | {% else %}
      | Uncategorized
      | {% endif %}
  div.mb-4.me-4
    small.text-muted.d-block Duration
    span
      | {% if object.duration_minutes %}
      | {{ object.duration_minutes }}m
      | {% else %}
      | No Duration
      | {% endif %}

  | {% if edition.schedule_status == 'proposed' or edition.schedule_status == 'final' %}
  div.mb-4
    small.text-muted.d-block Schedule {% if edition.schedule_status == 'proposed' %}(not final){% endif %}
    span
      | {% if object.day and object.day.date and object.time %}
      a(href="{% url 'schedule' edition_path=edition.path %}&num;event-{{ object.id }}")
        | {{ object.day.date | date:'l dS M' }} {{ object.time | time:'H:i' }}
      | {% else %}
      span Unscheduled
      | {% endif %}
  | {% endif %}
  | {% endif %}
