| {% extends "conference_main/base_simple.pug" %}
| {% load static %}
| {% load thumbnail %}
| {% load conference_main %}
| {% load tickets %}

| {% block content %}
.container.profile-detail.mt-3
  .box
    .row
      .col-sm-3.text-center
        | {% include 'conference_main/components/attendee.pug' with profile=profile size='large' show_links=True show_admin=True %}

      .col-sm-9
        | {% if profile.bio %}
        .pt-3 {{ profile.bio|linebreaks|urlizetrunc:80 }}

        | {% elif request.user.id == profile.id %}
        .lead.text-muted
          | Add a bio by #[a(href="{% url 'profile_update' %}") #[u editing your profile]]
        | {% endif %}

  | {% if events_per_edition.items %}
  h2.mt-4 Sessions
  .box
    | {% for title, events in events_per_edition.items %}
    ul.events-container
      | {% for event in events %}
      li
        | {% if event.day and event.time %}
        .event-header
          ul.event-description.ml-auto
            li
              strong {{ title }}

            | {% if event.location.slug %}
            li.event-location
              | {{ event.location.slug | upper }}
            | {% endif %}

            | {% if event.category %}
            li.event-category(class="event-category-{{ event.category }}")
              | {{ event.category | upper }}
            | {% endif %}

            | {% is_attending_edition user event.edition as is_attending %}
            | {% include "conference_main/components/event_buttons.pug" with show_favorite=True %}

        | {% endif %}

        h3.mt-2
          a(href="{% url 'presentation_detail' edition_path=event.edition.path pk=event.pk %}") {{ event.name }}
      | {% endfor %}
    | {% endfor %}
  | {% endif %}
| {% endblock content %}
