| {% extends "conference_main/2020la/la_base_simple.pug" %}

| {% block content %}
.container
	.row
		.col-md-3
			| {% block sidebar %}
			.card
				nav(aria-orientation="vertical", class="flex-column mb-4 nav nav-pills", role="tablist")
					a.nav-pills-item(class="{% if 'profile' in request.path %}active{% endif %}")(href="{% url 'profile_update' %}")
						i.i-user
						| Profile
					a.nav-pills-item(class="{% if 'favorites' in request.path %}active{% endif %}")(href="{% url 'account_favorites_list' %}")
						i.i-heart
						| Favourites
					a.nav-pills-item(class="{% if 'presentations' in request.path %}active{% endif %}")(href="{% url 'account_presentations_list' %}")
						i.i-layers
						| My Presentations
					a.nav-pills-item(class="{% if 'festival' in request.path %}active{% endif %}")(href="{% url 'account_festival_entries_list' %}")
						i.i-tv
						| My Festival Entries
			| {% endblock sidebar %}

		.col-md-9
			.box
				| {% block content_main %}
				| {% endblock content_main %}
| {% endblock content %}
