| {% extends "conference_main/base.pug" %}
| {% load pipeline %}
| {% load static %}

{% block page_title %}BCON20 Los Angeles{% endblock page_title %}
{% block meta-description %}This event brings together technical and creative people from the industry, contributors to Blender, and everyone interested in using Blender.{% endblock meta-description %}
{% block meta-keywords %}blender,3d,animation,open source,free software,conference,bcon{% endblock meta-keywords %}

| {% block head_opengraph %}
meta(property='og:site_name', content='BCON20 Los Angeles')
meta(property='og:title', content='BCON20 Los Angeles')
meta(property='og:description', content='This event brings together technical and creative people from the industry, contributors to Blender, and everyone interested in using Blender.')
meta(property='og:url', content='https://conference.www.blender.org/2020-la/')
meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon20la_open_graph.png" %}')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='https://conference.www.blender.org/2020-la/')
meta(name='twitter:title', content='BCON20 Los Angeles')
meta(name='twitter:description', content='This event brings together technical and creative people from the industry, contributors to Blender, and everyone interested in using Blender.')
meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon20la_open_graph.png" %}')
| {% endblock head_opengraph %}

| {% block head_extra %}
| {% stylesheet 'bcon20la' %}
| {% endblock head_extra %}

| {% block jumbotron %}
//- TODO: Make header artwork customizable from the backend.
div.jumbotron.jumbotron-fluid.full-height-header(style="background-image: url({% static 'images/bcon20la/fonda_background.png' %})")
	.container
		.hero-content.text-white.text-center
			div

			img.d-block.mx-auto.img-fluid(src="{% static 'images/BCON20Logo.svg' %}")
			div
			div
			div

				{% block header_bottom_text %}
				h3.mb-0 1st - 2nd June 2020
				p.text-pink.mb-5 Fonda Theater, Hollywood Blvd.
				{% endblock header_bottom_text %}
		{% block header_modal %}
		{% endblock header_modal %}

	{% block header_background_overlay %}
	.hero-overlay(style="background-image: url({% static 'images/bcon20la/fonda08.png' %})")
	{% endblock header_background_overlay %}
| {% endblock jumbotron %}

| {% block footer %}
| {% include 'conference_main/2020la/la_footer.pug' %}
| {% endblock footer %}
