| {% extends "conference_main/2020la/la_base.pug" %}
| {% load pipeline %}
| {% load static %}

| {% block jumbotron %}
div.jumbotron.jumbotron-fluid.small-header(style="background-image: url({% static 'images/bcon20la/fonda_background.png' %})")
	.container
		.hero-content.text-white.text-center
			h1.mb-5 {% block h1 %}{{ flatpage.title }} {% endblock h1 %}

	.hero-overlay(style="background-image: url({% static 'images/bcon20la/fonda08.png' %})")
| {% endblock jumbotron %}


| {% block content %}
.container
	.row
		.col.text-white
			| {% block content_main %}
			| {{ flatpage.content }}
			| {% endblock content_main %}
| {% endblock content %}
