| {% extends "conference_main/base.pug" %}
| {% load thumbnail %}

| {% block header %}
| {% block jumbotron %}
| {% with title="Photos" subtitle="Albums with impressions and portraits<br> from the Blender Conference "|add:edition.path|add:"." %}
| {% include "conference_main/components/hero.pug" with title=title subtitle=subtitle|safe show_gradient=True show_overlay=True %}
| {% endwith %}
| {% endblock jumbotron %}
| {% endblock header %}

| {% block content %}
.container.py-4
	.box
		h2 Albums

		| {% if albums %}
		.album-container
			| {% for album in albums %}
			| {% thumbnail album.cover_image "1024" as cover_image %}
			//- img.img-responsive.rounded(src="{{ cover_image.url }}")
			a.album-item(
				href="{% url 'album' edition_path=edition.path album=album.slug %}",
				style="background-image: url('{{ cover_image.url }}')")
				.album-overlay
				.album-info
					h2 {{ album.title }}
					| {% if album.license %}
					small.album-license
						| {{ album.license }}
					| {% endif %}
			| {% endthumbnail %}
			| {% endfor %}
		| {% else %}
		p There are no photos for this edition yet.
		| {% endif %}
| {% endblock content %}
