| {% extends "conference_main/base_fullscreen.pug" %}
| {% load pipeline %}
| {% load qr_code %}

| {% block content %}
img.slideshow(
	id="slideshow",
	src="{% if photo %}{{ photo.file.url }}{% else %}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={%endif %}"
	data-slideshow-url="{% url 'album_slideshow' edition_path=edition.path album=album.slug %}"
)

.qr-code
	| {% qr_from_text absolute_album_url %}

| {% with photo.user.profile as profile %}
.photo-credit
	.attendee.is-landscape
		.attendee-details.p-1
			.attendee-name#js-author-full-name
			.attendee-title#js-author-title
			.attendee-company#js-author-company

| {% endwith %}
| {% endblock content %}

| {% block javascript-extra %}
| {% javascript 'slideshow' %}
| {% endblock javascript-extra %}
