| {% extends "conference_main/base_fullscreen.pug" %}
| {% load pipeline %}

| {% block content %}
template(id="dz-preview-tpl")
	| {% include "conference_main/photos/preview_template.html" %}
.album-upload-container
	header
		a.btn(href="{{ album.get_absolute_url }}")
			i.i-arrow-left
			span Back to Album

	form.dropzone(id="photo-upload" action="{% url 'album_upload' edition_path=edition.path album=album.slug %}")
		| {% csrf_token %}
| {% endblock content %}

| {% block stylesheet-extra %}
| {% stylesheet 'dropzone' %}
| {% endblock stylesheet-extra %}

| {% block javascript-extra %}
| {% javascript 'dropzone' %}
| {% endblock javascript-extra %}
