ul.board-events
  li.header
    .board-e-time
      strong.text-light {% now "H" %}#[span :]{% now "i" %}
    .event-meta {% now "l j M" %}.{% if has_time_override %} Time Override {% endif %}
    .board-e-status
    .board-e-location Room
  | {% for event in events %}
  li(
    class="{% if event.is_ongoing %}is-ongoing{% endif %}",
    style="{% if event.is_ongoing %}background-color: hsla(var(--location-hue-{{ event.location.slug }}), 90%, 70%, .1){% endif %};")
    .board-e-time {{ event.time|date:'H:i' }}
    .event-meta
      .board-e-name
        strong(
          style="{% if event.is_ongoing %}color: hsl(var(--location-hue-{{ event.location.slug }}), 100%, 70%);{% endif %}")
          | {{ event.name }}
      .board-e-speakers
        small {% for speaker in event.speakers.all %}{{ speaker }}{% if not forloop.last %},{% endif %} {% endfor %}
    .board-e-status
      | {% if event.is_ongoing %}
      strong.badge.badge-warning(
        style="
          background-color: hsla(var(--location-hue-{{ event.location.slug }}), 100%, 70%, .2);
          color: hsl(var(--location-hue-{{ event.location.slug }}), 100%, 70%);") NOW
      | {% endif %}
    .board-e-location(
      style="color: hsl(var(--location-hue-{{ event.location.slug }}), 100%, 70%);")
      strong {{ event.location.name }}
  | {% endfor %}
