| {% load conference_main %}

ul
	| {% for tweet in tweets %}
	li.social-tweet(
		class="{% if tweet.popular %}is-popular{% endif %} {% if tweet.media %}has-media{% endif %}")

		.tw-profile
			img(src="{{ tweet.profile_image_url_https }}", alt="{{ tweet.author }}")

		a.tw-content(
			href="{{ tweet.url }}",
			target="_blank")

			.tw-header
				strong.tw-author.pr-2 {{ tweet.author }}
				.tw-screen_name @{{ tweet.screen_name }}
				.tw-date {{ tweet.created_at | timesince | compact_timesince }}

			.tw-text {{ tweet.text }}

			| {% if tweet.media %}
			.tw-media
				img(src="{{ tweet.media }}")
			| {% endif %}
	| {% endfor %}
